[submodule "NCEPLIBS-bacio"]
	path = NCEPLIBS-bacio
	url = https://github.com/NOAA-EMC/NCEPLIBS-bacio
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-bufr"]
	path = NCEPLIBS-bufr
	url = https://github.com/NOAA-EMC/NCEPLIBS-bufr
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-g2"]
	path = NCEPLIBS-g2
	url = https://github.com/NOAA-EMC/NCEPLIBS-g2
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-g2tmpl"]
	path = NCEPLIBS-g2tmpl
	url = https://github.com/NOAA-EMC/NCEPLIBS-g2tmpl
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-gfsio"]
	path = NCEPLIBS-gfsio
	url = https://github.com/NOAA-EMC/NCEPLIBS-gfsio
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-grib_util"]
	path = NCEPLIBS-grib_util
	url = https://github.com/NOAA-EMC/NCEPLIBS-grib_util
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-ip"]
	path = NCEPLIBS-ip
	url = https://github.com/NOAA-EMC/NCEPLIBS-ip
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-landsfcutil"]
	path = NCEPLIBS-landsfcutil
	url = https://github.com/NOAA-EMC/NCEPLIBS-landsfcutil
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-nemsio"]
	path = NCEPLIBS-nemsio
	url = https://github.com/NOAA-EMC/NCEPLIBS-nemsio
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-nemsiogfs"]
	path = NCEPLIBS-nemsiogfs
	url = https://github.com/NOAA-EMC/NCEPLIBS-nemsiogfs
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-prod_util"]
	path = NCEPLIBS-prod_util
	url = https://github.com/NOAA-EMC/NCEPLIBS-prod_util
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-sfcio"]
	path = NCEPLIBS-sfcio
	url = https://github.com/NOAA-EMC/NCEPLIBS-sfcio
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-sigio"]
	path = NCEPLIBS-sigio
	url = https://github.com/NOAA-EMC/NCEPLIBS-sigio
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-sp"]
	path = NCEPLIBS-sp
	url = https://github.com/NOAA-EMC/NCEPLIBS-sp
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-w3emc"]
	path = NCEPLIBS-w3emc
	url = https://github.com/NOAA-EMC/NCEPLIBS-w3emc
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-w3nco"]
	path = NCEPLIBS-w3nco
	url = https://github.com/NOAA-EMC/NCEPLIBS-w3nco
	branch = ufs_release_v1.0
[submodule "cmake"]
	path = cmake
	url = https://github.com/NOAA-EMC/CMakeModules
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-crtm"]
	path = NCEPLIBS-crtm
	url = https://github.com/NOAA-EMC/EMC_crtm
	branch = ufs_release_v1.0
[submodule "NCEPLIBS-post"]
	path = NCEPLIBS-post
	url = https://github.com/NOAA-EMC/EMC_post
	branch = ufs_release_v1.0
[submodule "netcdf"]
	path = netcdf
	url = https://github.com/NOAA-EMC/netcdf-c
	branch = ufs_release_v1.0
[submodule "UFS_UTILS"]
	path = UFS_UTILS
	url = https://github.com/NOAA-EMC/UFS_UTILS
	branch = ufs_release_v1.0
[submodule "esmf"]
	path = esmf
	url = https://git.code.sf.net/p/esmf/esmf
