[project]
	description = NCEPLIBS Parent project for access rights
[access "refs/for/refs/heads/*"]
	create = group NCEPLIBS-Developer
	forgeCommitter = group NCEPLIBS-Developer
	push = group NCEPLIBS-Developer
	push = group NCEPLIBS-Reporter
	push = group NCEPLIBS-Reviewers
	pushMerge = group NCEPLIBS-Developer
[access "refs/for/refs/tags/*"]
	pushMerge = group NCEPLIBS-Developer
[access "refs/heads/*"]
	owner = group NCEPLIBS-Developer
	owner = group NCEPLIBS-Manager
	read = group NCEPLIBS-Developer
	read = group NCEPLIBS-Reviewers
	read = group NCEPLIBS-Verifiers
	read = group Registered Users
	create = group NCEPLIBS-Developer
	forgeAuthor = group NCEPLIBS-Developer
	forgeCommitter = group NCEPLIBS-Developer
	forgeServerAsCommitter = group NCEPLIBS-Developer
	push = +force group NCEPLIBS-Developer
	pushMerge = group NCEPLIBS-Developer
	label-Code-Review = -2..+2 group NCEPLIBS-Approvers
	label-Code-Review = -1..+1 group NCEPLIBS-Reviewers
	label-Verified = -1..+1 group NCEPLIBS-Verifiers
	submit = group NCEPLIBS-Developer
	pushTag = +force group NCEPLIBS-Developer
	pushSignedTag = group NCEPLIBS-Developer
[access "refs/tags/*"]
	forgeAuthor = group NCEPLIBS-Developer
	forgeCommitter = group NCEPLIBS-Developer
	forgeServerAsCommitter = group NCEPLIBS-Developer
	push = +force group NCEPLIBS-Developer
	pushMerge = group NCEPLIBS-Developer
	pushTag = +force group NCEPLIBS-Developer
	create = group NCEPLIBS-Developer
	read = group NCEPLIBS-Developer
	read = group NCEPLIBS-Reviewers
[access "refs/*"]
	read = group NCEPLIBS-Manager
