[project]
	description = NCEPLIBS Parent project for access rights
[access "refs/for/refs/heads/*"]
	create = group NCEPLIBS-Integrators 
	forgeCommitter = group NCEPLIBS-Integrators 
	push = group NCEPLIBS-Integrators 
	push = group NCEPLIBS-Reviewers
	push = group NCEPLIBS-Submitters
	pushMerge = group NCEPLIBS-Integrators 
[access "refs/for/refs/tags/*"]
	pushMerge = group NCEPLIBS-Integrators 
[access "refs/heads/*"]
	owner = group NCEPLIBS-Integrators 
	owner = group NCEPLIBS-Owners
	read = group NCEPLIBS-Integrators 
	read = group NCEPLIBS-Reviewers
	read = group NCEPLIBS-Verifiers
	create = group NCEPLIBS-Integrators 
	forgeAuthor = group NCEPLIBS-Integrators 
	forgeCommitter = group NCEPLIBS-Integrators 
	forgeServerAsCommitter = group NCEPLIBS-Integrators 
	push = group NCEPLIBS-Integrators 
	pushMerge = group NCEPLIBS-Integrators 
	label-Code-Review = -2..+2 group NCEPLIBS-Approvers
	label-Code-Review = -1..+1 group NCEPLIBS-Reviewers
	label-Verified = -1..+1 group NCEPLIBS-Verifiers
	submit = group NCEPLIBS-Integrators 
[access "refs/tags/*"]
	forgeAuthor = group NCEPLIBS-Integrators 
	forgeCommitter = group NCEPLIBS-Integrators 
	forgeServerAsCommitter = group NCEPLIBS-Integrators 
	push = group NCEPLIBS-Integrators 
	pushMerge = group NCEPLIBS-Integrators 
	pushTag = group NCEPLIBS-Integrators 
