[project]
	description = NCEPLIBS Parent project for access rights
[access "refs/for/refs/heads/*"]
	create = group NCEPLIBS-Developers
	forgeCommitter = group NCEPLIBS-Developers
	push = group NCEPLIBS-Developers
	push = group NCEPLIBS-Reporters
	push = group NCEPLIBS-Reviewers
	pushMerge = group NCEPLIBS-Developers
[access "refs/for/refs/tags/*"]
	pushMerge = group NCEPLIBS-Developers
[access "refs/heads/*"]
	owner = group NCEPLIBS-Developers
	owner = group NCEPLIBS-Managers
	read = group NCEPLIBS-Developers
	read = group Registered Users
	create = group NCEPLIBS-Developers
	forgeAuthor = group NCEPLIBS-Developers
	forgeCommitter = group NCEPLIBS-Developers
	forgeServerAsCommitter = group NCEPLIBS-Developers
	push = +force group NCEPLIBS-Developers
	pushMerge = group NCEPLIBS-Developers
	submit = group NCEPLIBS-Developers
	pushTag = +force group NCEPLIBS-Developers
	pushSignedTag = group NCEPLIBS-Developers
	abandon = group NCEPLIBS-Developers
	label-Code-Review = -2..+2 group NCEPLIBS-Developers
	label-Verified = -1..+1 group NCEPLIBS-Developers
	deleteDrafts = group NCEPLIBS-Developers
	labelAs-Code-Review = -2..+2 group NCEPLIBS-Reviewers
[access "refs/tags/*"]
	forgeAuthor = group NCEPLIBS-Developers
	forgeCommitter = group NCEPLIBS-Developers
	forgeServerAsCommitter = group NCEPLIBS-Developers
	push = +force group NCEPLIBS-Developers
	pushMerge = group NCEPLIBS-Developers
	pushTag = +force group NCEPLIBS-Developers
	create = group NCEPLIBS-Developers
	read = group NCEPLIBS-Developers
	read = group NCEPLIBS-Reviewers
[access "refs/*"]
	read = group NCEPLIBS-Managers
